// abstracts/_variables.scss
// Định nghĩa các biến để kiểm soát màu sắc, kích thước, khoảng cách toàn bộ giao diện

$primary-color: red;
$text-color: #222;
$font-large: 32px;
$font-medium: 28px;
$padding-standard: 10px 20px;
$box-shadow-default: 2px 2px 10px rgba(0, 0, 0, 0.1);
